@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Bangers|Just+Another+Hand';

$errorColor: map-get($foundation-palette, alert);
$successColor: map-get($foundation-palette, success);
$marvel: #e23636;
$errorColor: $marvel;
$primaryColor: #FCFE05;

body {
	background: url( ../img/bg.jpg ) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.5rem;

	&:after {
		position: fixed;
		content: " ";
		display: block;
		background: rgba( #EFEFEF, 0.25 );
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bungee', cursive;
	font-family: 'Bangers', cursive;
	color: $primaryColor;
	-webkit-text-stroke: 1px black;
	text-shadow:
	    3px 3px 0 #000,
	    /* Simulated effect for Firefox and Opera
	       and nice enhancement for WebKit */
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;	
}

h1 {
	font-size: 6rem;
}

h3 {
	font-size: 3rem;
}

label {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
}

select {
	display: inline-block;
	font-size: 1.5rem;
	height: auto;
	width: auto;
	color: $black;
	font-weight: bold;
	border: 3px solid $black;
}

.body {
	background: $white;
	border: 3px solid $black; 
	margin-bottom: 3rem;
	padding-top: .9375rem;
	padding-bottom: .9375rem;
}

.cookie-warning {
	background-color: $marvel;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.25) 5px, rgba(255,255,255,.25) 10px);	border: 0;
	color: $white;
	border: 3px solid $marvel;
	margin-top: 3rem;
	padding: 1rem;

	a {
		color: $white;
		text-decoration: underline;
	}

	span {
		font-weight: bold;
	}
}

.header {
	margin: 1rem 0;

	h1,
	h3 {
		line-height: 1;
		margin: 0;
	}
}

.help-text {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	margin-top: .25rem;

	.fa-check {
		color: $successColor;
	}

	.fa-times {
		color: $errorColor;
	}
}

.hidden {
	display: none;
}

.randomize {
	margin: 2rem 0;
	text-align: center;

	&.disabled {
		a {
			filter: grayscale(100%);

			.fa {
				animation: fa-spin 2s infinite linear;
			}

			&:hover {
				background: $primaryColor;
				color: $black;
			}
		}
	}

	a {
		padding: .5rem 1rem;
		font-size: 3rem;
		background: $primaryColor;
		color: $black;
		border: 3px solid $black;
		text-transform: uppercase;
		transition: 300ms;

		.fa {
			margin-right: 1rem;
		}

		&:hover {
			 background: $errorColor;
			 color: $white;

			.fa {
				animation: fa-spin 2s infinite linear;
			}
		}
	}
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: left;
}