@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Just+Another+Hand';

$errorColor: map-get($foundation-palette, alert);
$successColor: map-get($foundation-palette, success);
$marvel: #e23636;
$errorColor: $marvel;
$primaryColor: #FCFE05;

body {
	background: url( ../img/bg.jpg ) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Just Another Hand', cursive;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.5rem;

	&:after {
		position: fixed;
		content: " ";
		display: block;
		background: rgba( #EFEFEF, 0.25 );
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bungee', cursive;
}

h1 {
	font-size: 4rem;
}

label {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
}

select {
	display: inline-block;
	font-size: 1.5rem;
	height: auto;
	width: auto;
}

.body {
	background: $white;
	border-left: 3px solid $black; 
	border-right: 3px solid $black; 
	border-bottom: 3px solid $black;
}

.cookie-warning {
	background-color: $marvel;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.25) 5px, rgba(255,255,255,.25) 10px);	border: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	color: $white;
	border: 3px solid $marvel;

	a {
		color: $white;
		text-decoration: underline;
	}

	span {
		font-weight: bold;
	}
}

.help-text {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	margin-top: .25rem;

	.fa-check {
		color: $successColor;
	}

	.fa-times {
		color: $errorColor;
	}
}

.hidden {
	display: none;
}

.randomize {
	margin: 2rem 0;
	text-align: center;

	a {
		padding: .5rem 1rem;
		font-size: 3rem;
		background: $primaryColor;
		color: $black;
		border: 3px solid $black;
		text-transform: uppercase;
		transition: 300ms;

		.fa {
			margin-right: 1rem;
		}

		&:hover {
			 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			 background: $errorColor;
			 color: $white;

			.fa {
				animation: fa-spin 2s infinite linear;
			}
		}
	}
}
