.villains-wrapper {
/*
	background-color: #eee;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.25) 5px, rgba(255,255,255,.25) 10px);	border: 0;
	border: 3px solid $black;
	padding: 1rem;
*/

	h3 {
		color: $marvel;
		font-size: 2.5rem;

		&.henchmen {
			font-size: 1.5rem;
			margin-top: 1.5rem;
		}

		&.villains {
			font-size: 1.5rem;
		}
	}
}
